.full_block{
    display: flex;
    flex-direction: column;
    margin: 0 1vw 0;
}
.up_block{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.img_block{
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: clamp(5px, 4vw, 200px);
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}

.image_device{
    width: clamp(50px, 25vw, 340px);
    height: clamp(50px, 25vw, 340px);
}

.rating_block{
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2%;
}


.star_inside{
    display: flex;

    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: clamp(10px, 3.5vw, 540px);
    width: clamp(50px, 25vw, 340px);
    height: clamp(50px, 25vw, 340px);
}

.buy_block{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: clamp(50px, 25vw, 340px);
    font-size: clamp(50px, 5vw, 340px);
    border: lightgray 5px solid;
    border-radius: 10px;
 }

.add_price{
    text-align: center;
    white-space: nowrap;
    font-size: 3vw;
    color:#007afe;
    margin:0 0 4px ;
}

.add_buy_button{
    text-align: center;
    align-self: center;
    width: 25vw;
    white-space: nowrap;
    margin: 0 10px 10px;
    font-size:  2vw !important;
}

.down_block{
    width: 100%;
    padding: 1% 4% 0;
    vertical-align: center;
}

.characteristics{
    display: flex;
    color: white;
    font-size: clamp(20px, 3vw, 400px);
    background: #007afe;
    padding: 1% 2% 0;
    border-radius: 20px 20px 0 0;
    margin: 0 !important;
    box-shadow: 0 0 6px #007afe;
}

.add_new_character{
    vertical-align: center;
    text-align: center;
    width: 32vw;
    white-space: nowrap;
    margin: 0.75vw;
    font-size:  clamp(2px, 2vw, 400px) !important;
}

.characteristics_down_block{
    border-radius: 0 10px 10px 10px;
    border: #007afe 5px solid;
    box-shadow: 0 0 3px #007afe;
}

.info_data{
    height: auto;
    font-size:  clamp(8px, 2vw, 400px);
    display: flex;
    vertical-align: center;
    padding: 0 10px 0;
}

.btn{
    font-size:  clamp(2px, 1.5vw, 400px) !important;
}

@media screen and (max-width: 768px) {
    .img_block{
        width: 100%;}
    .image_device{
        width: clamp(50px, 50vw, 340px);
        height: clamp(50px, 50vw, 340px);
    }
    .up_block{
        align-items: center;
    }
    .rating_block{
        width: 50%;}
    .buy_block{
        width: 40%;
        align-self: center;
    }
}

/*
className="d-flex flex-column align-items-center justify-content-around"
style={{width: 300, height: 300, fontSize: 32, border: '5px solid lightgray'}}*/
