a{
    border-radius: 4px;
    color: #ff9100;
    transition-duration: 0.4s;

}
a:active {
    color: red;

}

a:hover {

    color: #5C9900;
}

.button1 {
    color: white;
}

.button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;

}
