.full_arrow{
    display: flex;
    height: clamp(5px, 2vw, 140px);
    width: clamp(5px, 2vw, 140px);
    margin: 0 5px 0;
    transition: 0.3s;
}

.left_arrow{
    rotate: -1deg;
    filter: drop-shadow(0px 0px 1px #4f8cfc) invert(48%) sepia(60%) hue-rotate(-192deg) saturate(6);
    transition: 0.2s ease-in-out;
}

.left_arrow_rotated{
    filter: invert(58%) sepia(60%) hue-rotate(-5deg) saturate(6);
    rotate: -52deg;
    transition: 0.2s ease-in-out;
}

.right_arrow{
    rotate: 129deg;
    filter: drop-shadow(0px 0px 1px #4f8cfc) invert(48%) sepia(60%) hue-rotate(-192deg) saturate(6);
    transition: 0.2s ease-in-out;
}
.right_arrow_rotated{
    filter: invert(58%) sepia(60%) hue-rotate(-5deg) saturate(6);
    rotate: 179deg;
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {

    .full_arrow{
        height: clamp(15px, 5vw, 140px);
        width: clamp(15px, 3vw, 140px);
    }
}