.double-range-slider-container {
    position: relative;
    font-size: 16px;
    color: #fff;
    width: clamp(80px, 10vw, 400px);
    height: 100%;
}

.double-range-slider-rail {
    background-color: #c4c4c4;
    width: clamp(80px, 10vw, 400px);
    height: 10px;
    border-radius: 50px;
    z-index: 0;
}

.double-range-slider-track {
    background-color: rgba(91, 172, 255, 0.5);
    width: clamp(80px, 10vw, 400px);
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.double-range-slider-ball {
    background-color: #007afe;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    cursor: pointer;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .double-range-slider-track,.double-range-slider-rail,.double-range-slider-container{
        height: 15px;
        width: clamp(150px,35vw, 800px);
    }
    .double-range-slider-ball{
        width: 30px;
        height: 30px;
        top: -7.5px;
    }
}

@media screen and (max-width: 900px) and (min-width: 768px){
    .double-range-slider-track,.double-range-slider-rail,.double-range-slider-container{
        width: clamp(50px, 8vw, 800px);
    }
}

.double-range-slider-ball:active,html {
    overflow: visible !important;
}
.double-range-slider-ball:active {
    cursor: grabbing !important;
}

.double-range-slider-active {
    z-index: 4;
    cursor: grab;
}

.double-range-slider-active:active {
    cursor: grabbing;
}

.double-range-slider-tooltip {
    background-color: #007afe;
    visibility: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10px;
    width: auto;
    color: #fff;
    border-radius: 10px;
    padding: 25px 10px 5px;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

/* Position the tooltip */
.double-range-slider-ball .double-range-slider-tooltip {
    left: 50%;
    transform: translateX(-50%);
    overflow: visible !important;
}

.double-range-slider-over {
    bottom: 30px;
}

.double-range-slider-under {
    top: 30px;
}

.double-range-slider-mid {
    bottom: 30px;
}

.double-range-slider-over::after {
    border-color: #007afe transparent transparent transparent;
    top: 100%; /* At the bottom of the tooltip */
}

.double-range-slider-under::after {
    border-color: transparent transparent #007afe transparent;
    bottom: 100%; /* At the top of the tooltip */
}

.double-range-slider-tooltip::after {
    content: " ";
    position: absolute;
    border-width: 8px;
    border-style: solid;
    pointer-events: none;
}

.double-range-slider-text-holder {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    white-space: nowrap;
}

.double-range-slider-step {
    position: absolute;
    z-index: 1;
    height: 5px;
    width: 2px;
    border-radius: 5px;
    background-color: #f5f5f5;
}
/*# sourceMappingURL=index.css.map */

/*Custom stylys*/
.price_block{
    width: clamp(115px, 14vw, 800px);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price_setup{
    display: flex;
    flex-direction: row;
    width: clamp(50px, 13vw, 800px);
}

@media screen and (max-width: 1000px) {
    .price_setup{
        flex-direction: column;
        width: clamp(50px, 10vw, 800px);
    }
}

@media screen and (max-width: 768px) {
    .price_block{
        width: clamp(115px, 50vw, 800px);
    }
    .price_setup{
        flex-direction: column;
        width: clamp(50px, 40vw, 800px);
    }

}
