/*
.multi-range-slider {
    padding: 10px 20px 0 25px !important;
    border: none !important;
    box-shadow: none !important;
    height: 60px !important;
    width: clamp(80px, 14vw, 200px) !important;
}

@media screen and (max-width: 768px) {
    .multi-range-slider {
        display: flex;
        width: clamp(80px, 44vw, 800px) !important;
    }
}
.multi-range-slider .thumb::before{
    background-color: #007afe !important;
    border: none !important;
    outline: none !important;
    height: 20px !important;
    margin: -4px 0 0 -12px !important;
}

.multi-range-slider .bar-inner {
    background: rgba(91, 172, 255, 0.5) !important;
    border: none !important;
    box-shadow: none !important;
    height: 12px !important;
}

.multi-range-slider .bar-left{
    box-shadow: none !important;
    background: #c4c4c4 !important;
}

.multi-range-slider .bar-right{
    box-shadow: none !important;
    background: #c4c4c4 !important;
}

.multi-range-slider .thumb .caption * {
    position: absolute;
    min-width: 30px;
    height: 50px;

    font-size: 75%;
    text-align: center;
    line-height: 30px;
    background-color: #007afe !important;
    color: white;
    box-shadow: 0px 0px 5px black;
    margin: 0 100px -110px 92px !important;
    white-space: nowrap;
}*/
