a{
    border-radius: 4px;
    color: #ff9100;
    transition-duration: 0.4s;
    font-size: clamp(12px, 2vw, 38px);
}
a:active {
    color: red;

}

a:hover {
    text-decoration: none;
    color: white;
}

.button1 {
    color: white;
}

.button1:hover {
    background-color: #00dc08; /* Green */
    color: white;

}
