.shop_block{
 padding-top: 30px;
 display: flex;
}

.left_side{
    width: 25%;
    padding-left: 80px;
}

.right_side{
    padding-left: 10px;
    width: 75%;
}

/*@media screen and (max-width:1000px) {
    .shop_block{ display: inline-grid;}
    .right_side{ width: 100%;}
    .left_side{ width: 100%;}
}*/

@media screen and (max-width:1700px) {
    .right_side{ width: 100%;padding-left: 80px;}
}

@media screen and (max-width:768px) {
    .shop_block{
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }
    .right_side{ width: 100%;padding: 0;}
    .left_side{
        position: sticky;
        top: 95px;
        z-index: 10;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
