.add_div{
    display: flex;
    padding-top: clamp(10px, 4vw, 50px);
    padding-right: clamp(10px, 5vw, 15px);
    justify-content: right;
}

.buttonAddToBasket{
    box-shadow: 0 0 4px black;
    height:clamp(50px, 5vw, 75px);
    width:clamp(50px, 5vw, 75px);
    border-radius: 55px;
    text-align:center;
    outline: none;
    border: none;
    transition: 0.3s;
    background: white;
    justify-content: right;
}
.buttonAddToBasket:active{
    outline: none;
    border: none
}
.buttonAddToBasket:focus{
    outline: none;
    border: none
}
.buttonAddToBasket:hover{
    outline: none;
    border: none;
    scale: 120%;
    box-shadow: 0 0 5px #007afe;
}

.add_to_basket {
    scale: 120%;
    width: clamp(20px, 1.5vw, 40px);
    height: clamp(20px, 1.75vw, 50px);
    transition-duration: 0.15s;
    justify-content: center;
}

#buttonAddToBasket:hover > #add_to_basket{
    scale: 140%;
    justify-content: center;
    filter: drop-shadow(0px 0px 1px #ff9100) invert(38%) sepia(80%) hue-rotate(-15deg) saturate(6);
}
